<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="micajah.common" type="Micajah.Common.Configuration.FrameworkConfiguration, Micajah.Common3"/>
    <section name="micajah.common.website" type="Micajah.Common.Configuration.WebsiteConfiguration, Micajah.Common3" />
    <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth">
      <section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
      <section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth" requirePermission="false" allowLocation="true" />
    </sectionGroup>
  </configSections>
  <micajah.common>
    <webApplication name="SherpaDesk">
      <copyright companyName="bigWebApps, Inc." companyLogoImageUrl="http://login.bigwebapps.com/images/companylogos/bigWebApps_Logo.png" companyWebsiteUrl="http://login.bigwebapps.com/"/>
    <support phone="+1 (866) 996-1200, then press 2" termsUrl="http://sherpadesk.com/privacy-policy/" privacyPolicyUrl="http://sherpadesk.com/privacy-policy/" />
    <password format="Sha1" minRequiredNonAlphanumericCharacters="0" minRequiredPasswordLength="5" enablePasswordRetrieval="true" />
    <email enableCreateNewLoginNotification="true" enableChangeLoginNotification="true" salesTeam="sales@bigwebapps.com" />
    </webApplication>
    <roles>
      <role id="D0CD75F9-5E24-4490-A1FF-79FFE099CA07" name="Technician" shortName="Technician" rank="5" startPageId="80BB6635-E2B9-4841-89CA-C764BE8898C1"/>
      <role id="D2EAFF91-F92F-4B91-A2D3-FB040767F640" name="Super User" shortName="SuperUser" rank="6" startPageId="1E23DD4C-19C9-4CA6-8467-79A6A5693922"/>
      <role id="28798E20-730D-4908-B5D2-196C132B5AAF" name="Standard User" shortName="StandardUser" rank="7" startPageId="1E23DD4C-19C9-4CA6-8467-79A6A5693922"/>
    </roles>
    <actions>
      <action id="DC585CE6-B423-44EB-8E6B-D7E8167E89DA" type="Page">
        <settings>
          <setting id="C9E91276-7943-43A6-B021-9B8273F775CD" type="OnOffSwitch" name="Classes" shortName="configClassTracking" defaultValue="true"/>
          <setting id="170BE392-55A2-4A6A-96FB-7D92ACEBFED2" type="OnOffSwitch" name="Resolution Categories" shortName="btCfgRES" defaultValue="true"/>
          <setting id="79CC9585-71F4-4058-8D1A-6B00C4551E8F" type="CheckBox" name="Confirmations" shortName="btCfgCON" defaultValue="false"/>
          <setting id="57A2B533-4F52-4C7B-8CBC-9BD0CD0C8271" type="OnOffSwitch" name="PrioritiesSLA" shortName="configPriorities" defaultValue="true"/>
          <setting id="9A78D182-0AEF-404E-8A03-08C73459A92B" type="OnOffSwitch" name="TimeTracking" shortName="configTimetracking" defaultValue="true"/>
          <setting id="DB8A2342-8DF3-4746-BAA3-3131B51FE1D5" type="CheckBox" name="On Hold" shortName="configOnHoldStatus" defaultValue="false"/>
          <setting id="4748D0E2-EBA8-44E4-BD6B-21852F78521E" type="OnOffSwitch" name="Parts" shortName="configPartsTracking" orderNumber="1" handle="true" defaultValue="true"/>
          <setting id="324D9F3D-E782-414B-81FE-57DBC97EB691" type="OnOffSwitch" name="Projects" shortName="btCfgProject" orderNumber="1" handle="true" defaultValue="true" paid="true"/>
          <setting id="2FDFABFF-4D3C-495B-8D1C-608E6C9F8027" type="OnOffSwitch" name="UnassignedQueues" shortName="configUAQ" orderNumber="1" handle="true" defaultValue="true"/>
          <setting id="3BDD7F5E-3471-42A7-9334-57393ED37BB5" type="CheckBox" name="$Location-FullPlural$" shortName="configLocationTracking" orderNumber="2" handle="true" defaultValue="true" paid="true"/>
          <setting id="2B1D048F-DF61-4D89-9B1A-8170A905EF35" type="CheckBox" name="$Account-FullPlural$" shortName="btCfgAcctMngr" orderNumber="1" handle="true" defaultValue="true" paid="true"/>
          <setting id="5B25A480-09AF-4984-8FAD-48B5C136F155" type="OnOffSwitch" name="Levels" shortName="configLVL" orderNumber="1" handle="true" defaultValue="true"/>
          <setting id="B6601E52-2915-4A7E-85EC-CF8705440364" type="CheckBox" name="Initial Post Required" shortName="btCfgRTIP" orderNumber="7" defaultValue="false"/>
          <setting id="7C110BB2-FC67-401A-A903-FE316924C41D" type="CheckBox" name="Closure Notes Required" shortName="btReqClosureNote" orderNumber="8" defaultValue="false"/>
          <setting id="6B0D2310-C415-4797-9A96-4EFBB55F9615" type="OnOffSwitch" name="Assets" shortName="configAssetTracking" orderNumber="1" handle="true" defaultValue="true" paid="true"/>
          <setting id="82382B38-B3E1-4743-8295-E347FA09F909" type="Value" name="Unique Field 1 Caption" shortName="AssetsUnique1Caption" orderNumber="4"/>
          <setting id="CAF5A0ED-BEE2-47E9-AF59-EDC99E008BB5" type="Value" name="Unique Field 2 Caption" shortName="AssetsUnique2Caption" orderNumber="5"/>
          <setting id="3901D5CB-B7C0-4C51-8D98-C0127BE9CADC" type="Value" name="Unique Field 3 Caption" shortName="AssetsUnique3Caption" orderNumber="6"/>
          <setting id="BE0FAA99-ED3D-4583-A981-027CAADF2D9A" type="Value" name="Unique Field 4 Caption" shortName="AssetsUnique4Caption" orderNumber="7"/>
          <setting id="FFF9A170-C278-4E23-9934-126A48155D77" type="Value" name="Unique Field 5 Caption" shortName="AssetsUnique5Caption" orderNumber="8"/>
          <setting id="1579780D-B956-4F62-ADDD-87D3861C788C" type="Value" name="Unique Field 6 Caption" shortName="AssetsUnique6Caption" orderNumber="9"/>
          <setting id="3EB23281-7BA0-4A18-9419-05DCF99A5370" type="Value" name="Unique Field 7 Caption" shortName="AssetsUnique7Caption" orderNumber="10"/>
          <setting id="B46597CE-D379-471E-A240-9A4654987A39" type="Value" name="FreshBooks URL" shortName="FBURL" orderNumber="4"/>
          <setting id="448978DE-3C6D-4ED9-86D1-B965879A790D" type="Value" name="Access Token" shortName="FBAccessToken" orderNumber="5"/>
          <setting id="CE7854A4-A1A4-4BC6-902E-2A897AE6CCD6" type="Value" name="Access Token Secret" shortName="FBAccessTokenSecret" orderNumber="6"/>
          <setting id="E2373E85-95BE-4E56-9D81-D953950C2007" type="OnOffSwitch" name="Expense Tracking" shortName="configMiscCost" defaultValue="false"/>
          <setting id="F6373B41-E66C-4EF3-B3BA-520B1AD5979C" type="Value" name="Currency Symbol" shortName="charCurrency" defaultValue="$" />
          <setting id="448978DE-3C6D-4ED9-86D1-B9655981290D" type="Value" name="Access Token" shortName="QBAccessToken" />
          <setting id="CE5656A4-A1A4-4BC6-902E-2A816556CCD6" type="Value" name="Access Token Secret" shortName="QBAccessTokenSecret" />
          <setting id="9D015985-E325-4D67-B63A-D46159875334" type="Value" name="QuickBooks Online Company ID" shortName="QBOnlineCompanyID" />
          <setting id="6C1853EE-B3A5-44A6-A2FB-44C753988099" type="OnOffSwitch" name="QuickBooks" shortName="btQBOnlineIntegration" defaultValue="false" />
          <setting id="8FA054B9-88D9-4FD3-9D53-18BEBAFEB21C" type="OnOffSwitch" name="Payments" shortName="btCfgStaffPayments" orderNumber="1" defaultValue="false" />
          <setting id="249B258A-0BEE-4347-ADCF-CF06CB81AD95" type="OnOffSwitch" name="Invoices" shortName="btCfgBilling" orderNumber="1" defaultValue="false" />
          <setting id="AC3C7B10-5F74-4B7B-9109-8117B8202892" type="CheckBox" name="Travel Costs" shortName="configTrvlCost" orderNumber="19" defaultValue="false" />
          <setting id="F1FC4AD6-0D16-4C41-A5CD-F02A7B1B4A9B" type="CheckBox" name="Allow waiting on response" shortName="configWaitingOnResponse" orderNumber="4" defaultValue="true" />
          <setting id="441123DE-3C6D-4ED9-86D1-B5987545135D" type="Value" name="QuickBooks Online Access Token Auto-Renew Date" shortName="QBTokenAutoRenewDate"/>
        </settings>
      </action>
    </actions>
  </micajah.common>
  <micajah.common.website>
    <customUrl enabled="true" partialCustomUrlRootAddresses="beta.sherpadesk.com" partialCustomUrlReservedAddresses="mail,ftp,www,login,api" defaultPartialCustomUrl="app" authenticationTicketDomain="beta.sherpadesk.com" partialCustomUrlIsPrimary="true" />
  </micajah.common.website>
    <connectionStrings>
<add name="Micajah.Common.Properties.Settings.MasterConnectionString" connectionString="Data Source=tcp:zllql46xaz.database.windows.net,1433;Initial Catalog=BWA_Beta_SherpaDesk_Master;User ID=jvickers@zllql46xaz;Password=Micajah88" providerName="System.Data.SqlClient" />
<add name="EmailServicesLog.ConnectionString" connectionString="Server=tcp:zllql46xaz.database.windows.net,1433;Database=BWA_SherpaDesk_Log;User ID=jvickers@zllql46xaz;Password=Micajah88;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationID" value="27" />
    <!-- Web application settings -->
    <add key="InternalOrganizationName" value="bigWebApps" />
    <add key="InternalOrganizationDomains" value="micajah.com,bigwebapps.com,sherpadesk.com" />
    <!-- Check what server is currently run - Beta or Prod  -->
    <add key="EmailPaserDomain" value="app.beta.sherpadesk.com" />
    <add key="AllowCustomProgress" value="false" />
    <add key="BWDSiteServer" value="Beta" />
    <add key="BWASupportOrgId" value="AE427B4E-4FB8-4072-A7E1-25B8D3AA8E50" />
    <add key="BWASupportDeptId" value="1" />
    <add key="BWASupportClassId" value="56" />
    <add key="BWASupportUserEmail" value="mike.clements@bigwebapps.com"/>

    <add key="FBoAuthConsumerKey" value="sherpadesk"/>
    <add key="FBoAuthSecret" value="KYBHjwB8G2fEkEPDS4ibmwNPzGRsftC87"/>
    <!-- Azure Storage Account Settings -->
    <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=micajah1;AccountKey=TsxyTMtUj1014DoQzwHNtM9b2xGJMEr0/B8NEquPh2rYz2I5cgfn11T6gzxzH3ygSTCz7yN+0KOGOSKk6J+tYg=="/>
    <!-- Micajah Azure File Service settings -->
    <add key="mafs:StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=sherpadeskbetafiles;AccountKey=jrSAHpMv/KS35+gqnwetJql6lsW6Biz+M5N85cbceCg8SY3aaBlRGBi4QgltJ8u2MwEBzv/oj5OlLGhB92hYuQ=="/>
    <add key="mafs:SharedAccessExpiryTime" value="60"/>
    <add key="mafs:TemporaryContainerName" value="temp"/>
    <add key="mafs:ClientCacheExpiryTime" value="144000"/>
    <add key="mafs:MaxFileSize" value="52428800"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <!-- servicestack oauth config -->
    <add key="oauth.GoogleOpenId.RedirectUrl" value="http://m0.sherpadesk.com/index.html" />
    <add key="oauth.GoogleOpenId.CallbackUrl" value="http://api.beta.sherpadesk.com/api/auth/GoogleOpenId" />
      <!--The runtime error emailing system settings-->
    <add key="AbsolutePath" value="http://sherpadesk/" />
    <add key="ExceptionMailFrom" value="administrator@micajah.com" />
    <add key="ExceptionMailTo" value="vladimir.gooz@micajah.com;jon.vickers@micajah.com" />
    <add key="SMTPServer" value="localhost" />
    <add key="ExceptionMailAdmin" value="administrator@micajah.com" />
    <add key="EmailPaserDomain" value="helpdesk.bigwebapps.com" />
    <add key="QBoAuthConsumerKey" value="qyprdTqvFSjpodbR21UowxUzphb9kR"/>
    <add key="QBoAuthSecret" value="u1eOfe5HwkPhecS2CKx17wqz0hKGD7VdlDENiIIy"/>
    <add key="QBSecurityKey" value="tdfgyurptzghjghjr"/>

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime enableVersionHeader="false"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>
  </system.webServer>
  <uri>
    <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
	     which is necessary for OpenID urls with unicode characters in the domain/host name. 
	     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
      <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@app.beta.sherpadesk.com">
        <network host="email-smtp.us-east-1.amazonaws.com" userName="AKIAIMHA7HCKZ3PNYSXA" password="AlPedmMJUspyCKQmOVBiGn3KuUlVlNHDoU43vH0vb8Q3" clientDomain="app.beta.sherpadesk.com" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <dotNetOpenAuth>
    <!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. -->
    <!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ -->
    <openid>
      <relyingParty>
        <security requireSsl="false">
          <!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
          <!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
        </security>
        <behaviors>
          <!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
          <add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth" />
        </behaviors>
      </relyingParty>
    </openid>
    <messaging>
      <untrustedWebRequest>
        <whitelistHosts>
          <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
          <add name="localhost" />
        </whitelistHosts>
      </untrustedWebRequest>
    </messaging>
    <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
  </dotNetOpenAuth>
</configuration>